<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body>

  <!-- <header>
  <%- include('../partials/header'); %>
</header> -->
  <% if(errormsg && redirected){ %>
    <script type="text/javascript">
      var error = `<%= errormsg %>`;
      alert(`${error}`);
    </script>
    <% } %>
      <% if(!errormsg && redirected){ %>
        <script>
          alert(`Transaction Successfully`);
        </script>
        <% } %>


          <%- include('../partials/navBar'); %>
            <div class="row" style="min-height: 95%;">
              <nav class="border-end col-md-2 sidebar navbar-dark bg-dark" id="sidebar-wrapper">
                <br>
                <h6 style="color: white; padding-top: 1-px; align-self: auto; text-align: center;">DeFi Accounts</h6>
                <hr style="color: white; padding: 0px; margin-bottom: 0px;">
                <hr style="color: white; margin-top: 3px;">
                <ul class="nav row">
                  <% for(addr of accountAddress) {%>
                    <li class="nav-item" style="text-overflow: ellipsis; overflow-wrap: break-word;">
                      <a class="nav-link" aria-current="page" href="?accountAddr=<%= addr %>"
                        style="text-overflow: ellipsis">
                        <%= addr %>
                      </a>
                      <hr style="color: white;">
                    </li>
                    <% } %>
                </ul>
              </nav>

              <div class="col-md-10" style="padding-top: 20px;">
                <div>
                  <h4 style="padding: 4px;">Your NFT Wallet</h4>
                  <div class="row" style="padding: 5px;">
                    <% for(nft in NFTs) {%>
                      <%if(NFTs[nft].highestBidder == address) {%>
                        <div class="col-3" style="padding: 5px;">
                          <div class="card">
                            <img class="card-img-top" src="<%=Images[nft]%>" width="128" height="128"
                              alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">NFT Details</h5>
                                <div>
                                  <b>NFt ID: </b> <i>
                                    <%=nft%>
                                  </i>
                                </div>
                                <div>
                                  <% if(NFTs[nft].ended){%>
                                    <b>NFT bought at: </b> <i>
                                      <%=NFTs[nft].highestBid%>
                                    </i>
                                  <%} else{%>
                                    <b>Your Bid was: </b> <i>
                                      <%=NFTs[nft].highestBid%>
                                    </i>
                                  <% } %>
                                </div>
                            </div>
                          </div>
                        </div>
                      <% } %>
                    <% } %>
                  </div>


                  <h4 style="padding: 4px;">NFT's Open for Auction</h4>
                  <div class="row" style="padding: 5px;">
                    <% for(nft in NFTs) {%>
                      <%if(!NFTs[nft].ended && NFTs[nft].highestBidder != address) {%>
                        <div class="col-3" style="padding: 5px;">
                          <div class="card">
                            <img class="card-img-top" src="<%=Images[nft]%>" width="128" height="128"
                              alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">NFT Details</h5>
                                <!-- <div class="col-6">
                                  <b>NFT Owner: </b> <i>
                                    <%=NFTs[nft].beneficiary%>
                                  </i>
                                </div> -->
                                <div>
                                  <b>NFt ID: </b> <i>
                                    <%=nft%>
                                  </i>
                                </div>
                                <div>
                                  <b>Current Higest bid: </b> <i>
                                    <%=NFTs[nft].highestBid%>
                                  </i>
                                </div>
                                
                                <!-- <div class="col-6">
                                  <b>NFT Current Higest Bidder: </b> <i>
                                    <%=NFTs[nft].highestBidder%>
                                  </i>
                                </div> -->
                                <form action="/SubmitBid?address=<%=address%>" method="post">
                                  <div class="row">
                                    <div class="form-group col-6">
                                      <label for="NFTIDField">NFT Id</label>
                                      <input type="text" class="form-control" id="NFTIDField" name="nftId" value= "<%= nft %>">
                                    </div>
                                    <div class="form-group col-6">
                                      <label for="AmountField">Amount</label>
                                      <input type="text" class="form-control" id="AmountField" name="amount" placeholder="Enter Amount">
                                    </div>
                                    <br>
                                  </div>
                                  <div class="text-center">
                                    <button type="submit" class="btn btn-primary">Submit Bid</button>
                                  </div>
                                </form>
                            </div>
                          </div>
                        </div>
                      <% } %>
                    <% } %>
                  </div>

                </div>
              </div>
            </div>






            <footer>
              <%- include('../partials/footer'); %>
            </footer>

</body>

</html>